body {
	background-color: rgb(138, 243, 234);
}
thead th {
	text-align: center;
	cursor: pointer;
}

thead th.ascending::after {
	content: "👇";
	display: inline-block;
	margin-left: 1em;
	color: rgb(223, 128, 19);
}
thead th.descending::after {
	content: "☝";
	display: inline-block;
	margin-left: 1em;
	color: rgb(223, 128, 19);
}
tbody td {
	padding: 0.5em;
	border-radius: 1px solid #ccc;
}
